/* write your override styles here */
body {
  background: black url(../images/sketch.jpg) no-repeat center;
  background-size: cover;
}
#wall {
  position: relative;
}
.tag-1 {
  background: url(../images/tag-1.png) no-repeat;
   
}
#wall #tag-2 {
  background: url(../images/tag-2.png) no-repeat;
  z-index: 6;
  display: block;
}